.vscode/**
.vscode-test/**
.github/**
node_modules/**
src/**
dist/**/*.map
.gitignore
esbuild.js
vite.config.ts
svelte.config.js
eslint.config.mjs
vsc-extension-quickstart.md
**/tsconfig*.json
**/*.ts
**/.vscode-test.*
